<ul>
	<li> <%= link_to "Contas", accounts_path %> </li>
	<li> <%= link_to "Pessoas", people_path %> </li>
	<li> <%= link_to "Oportunidades", opportunities_path %> </li>	
	<li> <%= link_to "Usuários", users_path %> </li>
	<li> <a href="http://veezor.lighthouseapp.com/projects/35342-veezor_crm/tickets/new" target="_blank">Reportar Bug</a> </li>
</ul>

